@font-face {
  font-family: 'Regular';
  src: url('./BrassMono-Regular.ttf');
}

@font-face {
    font-family: 'CondensedBold';
    src: url('./BrassMono-Bold.ttf')
}


body {
    font-family: 'CondensedBold', sans-serif;
}